.screen-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    flex-wrap: nowrap;
    min-width: 100vw;
    min-height: 100vh;
    -webkit-animation: ScreenBoxAnimation 20s ease infinite;
    animation: ScreenBoxAnimation 20s ease infinite;
}

@-webkit-keyframes ScreenBoxAnimation {
    0%{background-position:96% 0%}
    50%{background-position:5% 100%}
    100%{background-position:96% 0%}
}

@keyframes ScreenBoxAnimation {
    0%{background-position:96% 0%}
    50%{background-position:5% 100%}
    100%{background-position:96% 0%}
}