.screen-box {
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    flex-wrap: nowrap;
    min-height: 100vh;
    -webkit-animation: ScreenBoxAnimation 20s ease infinite;
    animation: ScreenBoxAnimation 20s ease infinite;

    main {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
        margin: 10px;
        flex-grow: 1;

        .main-content {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin: 10px;
            flex-grow: 1;
        }
    }

    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@-webkit-keyframes ScreenBoxAnimation {
    0%{background-position:96% 0%}
    50%{background-position:5% 100%}
    100%{background-position:96% 0%}
}

@keyframes ScreenBoxAnimation {
    0%{background-position:96% 0%}
    50%{background-position:5% 100%}
    100%{background-position:96% 0%}
}

@media (max-width: 900px){
    .screen-box {
        main {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        section {
            margin-top: 15px;
            width: 75% !important;
            flex-wrap: wrap;
        }
    }
}